* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: beige;
  color: #333;
  padding: 3px;
  max-width: 1200px;
  margin: 0 auto;
  padding:1em;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  gap:12px;
}

header{
  padding:1em;
}
nav ul li{
  border: solid 1px black;
  padding: 0.2em;
  text-align: center;
}
.gallery{
  padding:1em;
}
/* .gallery span{
  left: 50px;
  text-align: center;
  
} */

.escapadas{
  display:flex;
  flex-wrap: wrap;
  gap:16px;
  justify-content: center;
  }
  .escapadas div{
    width: 256px;
  }
  .escapadas img{
    width:100%;
  }
  .escapada{
    display:flex;
    flex-direction:column;
    justify-items: center;
    text-align: center;
    background-color: bisque;
  }
  .escapada img{
    width:100;
  }